.g-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.g-queue {
  display: flex;
  flex-direction: column;
  flex-basis: 24%;
}

.g-item {
  position: relative;
  width: 100%;
  margin: 2.5% 0;
}

.g-queue:nth-child(1) .g-item:nth-child(1) {
  height: 216px;
  background: #f16894;
}

.g-queue:nth-child(1) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(2) {
  height: 256px;
  background: #981ae8;
}

.g-queue:nth-child(1) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(3) {
  height: 100px;
  background: #d4e80c;
}

.g-queue:nth-child(1) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(4) {
  height: 196px;
  background: #22b661;
}

.g-queue:nth-child(1) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(5) {
  height: 289px;
  background: #e7a642;
}

.g-queue:nth-child(1) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(6) {
  height: 74px;
  background: #f3e6b6;
}

.g-queue:nth-child(1) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(7) {
  height: 229px;
  background: #4f1d87;
}

.g-queue:nth-child(1) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(1) .g-item:nth-child(8) {
  height: 179px;
  background: #aa68eb;
}

.g-queue:nth-child(1) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(1) {
  height: 317px;
  background: #741ff3;
}

.g-queue:nth-child(2) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(2) {
  height: 251px;
  background: #a161fe;
}

.g-queue:nth-child(2) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(3) {
  height: 79px;
  background: #84b7c3;
}

.g-queue:nth-child(2) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(4) {
  height: 120px;
  background: #79ab6c;
}

.g-queue:nth-child(2) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(5) {
  height: 200px;
  background: #8951e1;
}

.g-queue:nth-child(2) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(6) {
  height: 245px;
  background: #18c5ab;
}

.g-queue:nth-child(2) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(7) {
  height: 129px;
  background: #924ecb;
}

.g-queue:nth-child(2) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(8) {
  height: 81px;
  background: #c6fee4;
}

.g-queue:nth-child(2) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(1) {
  height: 74px;
  background: #190577;
}

.g-queue:nth-child(3) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(2) {
  height: 297px;
  background: #e22a3e;
}

.g-queue:nth-child(3) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(3) {
  height: 292px;
  background: #28c8cd;
}

.g-queue:nth-child(3) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(4) {
  height: 91px;
  background: #e714fc;
}

.g-queue:nth-child(3) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(5) {
  height: 224px;
  background: #c101c9;
}

.g-queue:nth-child(3) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(6) {
  height: 219px;
  background: #e538a7;
}

.g-queue:nth-child(3) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(7) {
  height: 129px;
  background: #49a7e8;
}

.g-queue:nth-child(3) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(8) {
  height: 220px;
  background: #215a48;
}

.g-queue:nth-child(3) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(1) {
  height: 275px;
  background: #9bc106;
}

.g-queue:nth-child(4) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(2) {
  height: 295px;
  background: #d6adea;
}

.g-queue:nth-child(4) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(3) {
  height: 134px;
  background: #e3c994;
}

.g-queue:nth-child(4) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(4) {
  height: 302px;
  background: #76c9be;
}

.g-queue:nth-child(4) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(5) {
  height: 242px;
  background: #3df04f;
}

.g-queue:nth-child(4) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(6) {
  height: 127px;
  background: #bc5eb3;
}

.g-queue:nth-child(4) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(7) {
  height: 260px;
  background: #47355a;
}

.g-queue:nth-child(4) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(8) {
  height: 270px;
  background: #e2ab49;
}

.g-queue:nth-child(4) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
